body
{	margin: 0;
	padding: 0;
}
.Page
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(img/midnight.jpg);
	background-size: cover;
	background-repeat: repeat-y;
}
.cloud 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/cloud.png);
	background-repeat: repeat-y;
	animation: animate 60s linear infinite;

}
@keyframes animate
{
	0%
	{
		background-position: 0px;
		
	}
	100%
	{
		background-position: 5440px;
		
		
	}
}
h1 
{
	text-align: center;
	color: #7574E8;
	font-family: 'EB Garamond', serif;
}
#masthead 
{
	text-align: center;
	margin: 8px;
	padding: 20px;
	font-family: 'Shrikhand', cursive;
	color: #7574E8;
}
#two 
{
	text-align: center;
	font-size: 200%;
	color: #7574E8;
	font-family: 'Shrikhand', cursive;
}
nav 
{
	text-align: center;
	font-family: 'EB Garamond', serif;
}
#grid-container 
{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(24, 5vw);
	grid-gap: 15px;
	padding: 10px;
}
.grid-item 
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.grid-item1
{
	grid-column-start: 1;
	grid-column-end:3;
	grid-row-start: 1;
	grid-row-end: 7;
}
.grid-item2
{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 7;
}
.grid-item3
{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 4;
}
.grid-item4
{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 7;
}
.grid-item5
{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 7;
	grid-row-end: 11;
}
.grid-item6
{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 12;
	grid-row-end: 18;
}
.grid-item7
{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 7;
	grid-row-end: 12;
	text-align: center;
	background-color: #0768B0;
	font-family: 'EB Garamond',serif;
	text-align: center;
	display: block;
	margin-top: 16px;
	margin-left: 40px;
	margin-bottom: 16px;
	margin-right: 40px;
}
.grid-item8
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 11;
	grid-row-end: 16;
}
.grid-item9
{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 11;
	grid-row-end: 15;
	text-align: center;
	background-color: #13C4E8;
	font-family: 'EB Garamond', serif;
	display: block;
	margin-top: 16px;
	margin-left: 40px;
	margin-bottom: 16px;
	margin-right: 40px;

}
.grid-item10
{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 15;
	grid-row-end: 18;
}
.grid-item11
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 16;
	grid-row-end: 18;
	font-family: 'Shrikhand',cursive;
	font-size: 200%;
	background-color: #7574E8;
	text-align: center;
	display: block;
	margin-top: 16px;
	margin-left: 40px;
	margin-bottom: 16px;
	margin-right: 40px;

}